<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="/css/main_menu.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
<div class="container">
    <h1>Avalon TAG Line List Management</h1>
    <div class="grid">
        <!-- Proveedores -->
        <div class="grid-item">
            <h3>Distributors</h3>
            <p>Manage product distributors</p>
            <a href="/api/distributors" class="btn">See Providers</a>
        </div>

        <!-- Marcas -->
        <div class="grid-item">
            <h3>Brands</h3>
            <p>Manage the available brands.</p>
            <a href="/api/brands" class="btn">Check Brands</a>
        </div>

        <!-- Categorías -->
        <div class="grid-item">
            <h3>Categories</h3>
            <p>Classify the products into categories.</p>
            <a href="" class="btn">Check Categories</a>
        </div>

        <!-- Productos -->
        <div class="grid-item">
            <h3>Catalogs</h3>
            <p>Management of catalogs</p>
            <a href="#" class="btn">Check Products</a>
        </div>



        <!-- Reportes PDF -->
        <div class="grid-item">
            <h3>Print Reports</h3>
            <p>in PDF format</p>
            <a href="#" class="btn">Generate Reports</a>
        </div>
    </div>
</div>
</body>
</html>
