<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="/css/main_menu.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
<div class="container">
    <h1>Avalon TAG Line List Management (Catalogs)</h1>
    <div class="grid">
        <!-- Proveedores -->
        <div class="grid-item">
            <h3>Units</h3>
            <p>Manage product units</p>
            <a href="#" class="btn">See Providers</a>
        </div>


    </div>
</div>
</body>
</html>
